.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  gap: 1.1rem;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: left;
  background-color: #000;
  color: #d61b1b;
  padding: 1.5rem;
  border-radius: 1.3rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  max-width: 370px;
  width: 100%;
}

.card img {
  background-color: #7e0a0a;
  height: 15rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.card li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 600;
}

.card span {
  font-size: 1rem;
  color: #666;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.headCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5rem;
  color: #bdbdbd;
  font-weight: 500;
  font-size: 1.1rem;
}

#backLink {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
}

#backLink::before {
  content: "";
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
  background-image: url("../../assets/public api/eva_arrow-ios-upward-outline.svg");
  background-size: cover;
}

.gramms {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  color: #4f4f4f;
}

.gramms li {
  display: flex;
  font-weight: 500;
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family:
    "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #131313;
  overflow-x: hidden;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ant-spin-dot {
  color: red;
  transform: scale(1.1);
}

.search-not-found {
  font-size: 3rem;
  font-weight: 699;
  text-align: center;
  margin: 2rem;
}

.card-footer {
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px));
  }
}

@media (max-width: 600px) {
  .card {
    padding: 1rem;
  }

  .card img {
    height: 12rem;
  }

  .card li {
    font-size: 1.2rem;
  }

  .gramms li {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }
}
