.auth-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 15px rgba(255, 0, 0, 04);
  text-align: left;
  max-width: max-content;
  min-height: max-content;
  margin: 5rem auto;
  padding: 2rem;
  border-radius: 2rem;
}

h3 {
  font-size: 1.4rem;
  color: #d20a0a;
  text-align: left;
}

.auth-card-container input {
  background-color: #e7e7e7;
  color: #828282;
  width: 80%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid #bdbdbd;
}

.auth-card-container input::placeholder {
  color: #000;
  font-size: 1.1rem;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 600;
}

.auth-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.signup-button {
  border: 1px solid;
  border-radius: 0.6rem;
  padding: 0.6rem;
  transition: 0.6s all ease-in-out;
}

.signup-button:hover {
  background-color: #fff;
  border: 1px solid #000;
}

.signin-button {
  border: 1px solid #000;
  border-radius: 0.6rem;
  background-color: rgb(182, 6, 6);
  color: #fff;
  padding: 0.7rem 1.3rem;
  text-align: center;
  transition: 0.6s all ease-in-out;
}

.signin-button:hover {
  color: #d20a0a;
  background-color: #000;
}

.nextBuy:hover {
  color: #d20a0a !important;
  background-color: #000 !important;
}

.sucBtn {
  border-radius: 2rem;
}
