.footer {
  color: red;
  background-color: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  margin: 2rem 0 0 0;
  padding: 3rem;
  z-index: 1000;
  position: relative;
  z-index: 1000 !important;
}

* {
  margin: 0;
}

@media (max-width: 580px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
