.katalog-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  gap: 2rem;
  transform: scale(0.9);
}

.description {
  font-size: 0.7rem;
  color: #828282;
}

/* ul:nth-child(1) .details {
  opacity: 0;
} */
